<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Collector | Gallery</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo"><i class="fas fa-book"></i> Book Collector</div>
            <nav>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/page/tracker.html">Book Tracker</a></li>
                    <li><a href="/page/about.html">About</a></li>
                    <li><a href="/page/gallery.html" >Gallery</a></li>
                    <li><a href="/page/contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>